<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/cash.png" type="image/x-icon">
</head>
<body>
    <div class="main-content">
        {{> header}}      
        <img class="portrait" src="./images/num18.jpg" alt="Android número 18">  
    </div>
    
    {{> footer}}
</body>
</html>